:root {
  --bs-link-color: rgb(91, 96, 154);
}
.btn {
  --bs-btn-border-radius: 18px;
  --bs-btn-padding-x: 2rem;
}
.btn-primary {
  --bs-btn-bg: rgb(91, 96, 154);
  --bs-btn-border-color: rgb(91, 96, 154);
  --bs-btn-hover-bg: rgb(65, 69, 114);
  --bs-btn-hover-border-color: rgb(65, 69, 114);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar .nav-link {
  letter-spacing: 4px;
  /* font-variant: small-caps;   */
  font-size: 1.4rem;
  margin-left: 10px;
}

.App-header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(67, 56, 112, 0.53)), url('../public/banner.jpg');
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: black;
}
.App-header h1 {
  font-size: 3.5rem !important;
  letter-spacing: 10px;
}

.nav-link {
  font-size: 1.25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.card-header{
  background-color: rgba(255, 255, 255, 1) !important;
  border-bottom: 0;
}
.card-body hr {
  margin-top: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

