:root {
  --bs-link-color: rgb(91, 96, 154);
}
.btn-primary {
  --bs-btn-bg: rgb(91, 96, 154);
  --bs-btn-border-color: rgb(91, 96, 154);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(67, 56, 112, 0.53)), url('../public/banner.jpg');
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(40, 30, 75);
}
.App-header h1 {
  font-size: 3.5rem !important;
  letter-spacing: 10px;
}

.nav-link {
  font-size: 1.25rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


